@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@300;400;500;600;700 & display=swap' ) ;
body{
	font-family: 'Noto Serif HK', serif;
}
.container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
header h2 {
	color: #FEAB7A;
	text-align: center;
	opacity: 1;
	/* [disabled]font-size: 30px; */
}

.container header nav {
}

.container header nav {
}
nav   {
	text-align: center;
	align-content: center;
}
nav a:link {
	color: #00AFCA;
	text-decoration: none;
}
nav a:hover {
	color: #7DF9FD;
	text-decoration: underline;
}
.photoimg {
	height: 250px;
	background-image: url(use/header.jpg);
	background-size: cover;
	border-radius: 29px;
}
article h2 {
	background-color: #FFD289;
	border-radius: 6px;
	height: 60px;
	margin-left: 0px;
	padding-left: 13px;
	line-height: 56px;
}
body header {
	background-color: #FFC8C9;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	align-content: center;

}
main article img {
	right: 0px;
	border-radius: 32px;
	margin-left: 219px;
}
.animate__animated.animate__fadeIn {
	color: #FF88E4;
}
.animate__animated.animate__fadeIn.animate__delay-5s {
	color: #4EC8FA;
}
.animate__animated.animate__heartBeat.animate__infinite img {
	margin-left: 56px;

}
.animate__animated.animate__bounceInUp.animate__repeat-3 iframe {
	margin-left: 300px;
}
